<footer>
<ul class="nav nav-fill">
  <li class="nav-item">
    <a target="_blank" class="nav-link active" href="https://crosscut.com/2011/01/why-do-turkish-kebabs-star-at-restaurant-called-th">About Us</a>
  </li>
  <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.thestranger.com/seattle/return-to-the-sandwich-district/Content?oid=5856993">Our First Review</a>
  </li>
  <li class="nav-item">
    <a target="_blank" class="nav-link active" href="https://www.google.com/maps/place/The+Berliner+D%C3%B6ner+Kebab/@47.6226649,-122.3381332,15z/data=!4m5!3m4!1s0x0:0x9f7ac6c48177c6c!8m2!3d47.6226649!4d-122.3381332">428 Westlake Ave, 98109</a>
  </li>
  <li class="nav-item">
    <img id="navLogo" src="https://i.imgur.com/cEgIwcv.png"/>
  </li>
</ul>
</footer>
