<%- include('./partials/header.ejs') %>
<main>

<h1>CART</h1>


<%cartItem.cartItems.forEach((cart, i) => {%>
  <h5><%=cartItem.cartItems[i].name%> $<%=cartItem.cartItems[i].price%></h5>

<%})%>








<%- include('./partials/footer.ejs') %>
</main>
