<%- include('./partials/header.ejs') %>
<main>
<h1>Add New Item</h1>
<div class="container">
<div class="formDiv">
  <form action='/menu' method='POST'>
  <div class="form-group">
    <label for="formGroupExampleInput">Item Name:</label>
    <input type="text"  name="name" class="form-control" id="formGroupExampleInput" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" name="description" class="form-control" id="formGroupExampleInput2" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" name="img" class="form-control" id="formGroupExampleInput2" placeholder="image url">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Price</label>
    <input type="number" name="price" class="form-control" id="formGroupExampleInput2" placeholder="Price">
  </div>
  <div class="form-group" id='bottomInput'>
    <label for="formGroupExampleInput2">Availability</label>
    <input type="text" name="availability" class="form-control" id="formGroupExampleInput2" placeholder="true/false">
  </div>
  <button type="submit" class="btn btn-outline-light">Add Item</button>
</form>
</div>

</div>




  <%- include('./partials/footer.ejs') %>
</main>
