@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  background: url(../images/woodbackground.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


footer {
  position: absolute;
  bottom: 0;
  height: 100px;
}

h1 {
  text-align: center;
  padding: 15px;
  font-family: Fjalla One, sans-serif;
}

h5 {
  font-family: Fjalla One, sans-serif;
}

#homeLogoDiv {
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: reverse;
 }

#homeLogoImg {
  width: 400px;
}

@keyframes slidein {
  from {
    margin-left:0%;
    width:100%
  }

  to {
    margin-left:100%;
    width:300%;
  }
}



#menuCardImg {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

#descriptionTd {
  padding-left: 10px;
}

ul {
  /* background-image: url('../images/skyline.jpeg'); */
  background-image: none;
}

.nav-item {
  padding-top: 10px
}

.nav-link {
  color: white;
}

#navLogo {
  width: 100px;
  height: 100px
}

.menuCard {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px
}

.menuCard:hover {
  opacity: 70%;
  border: 1px solid white;
  cursor: pointer;
}



#menuCardAnchor {
  color: white;
  text-decoration: none;
}

#menuCardImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#backMenu {
  text-align: center;
}

#cartThumbImg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#itemTable{
  width: 100%;
}

#itemRow{
  width: 100%;
}

#cellLeft {
  width: 15%
}

#cellCenter {
  width: 65%;
}

#cellRight {
  width: 19%;
}

#trashImg{
  width: 15px;
  height: 15px;

}

#trashBtn {
  opacity: 25%;
  border: none;
  border-radius: 10%;
}

#trashBtn:hover {
  opacity: 50%;
  cursor: pointer;
}


.showCard {
  /* background-color: #7cc975; */
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px
}

#showCardImg {
  width: 300px;
  height: 300px;
  border-radius: 10px
}

#descriptionTdShow {
  padding-left: 10px;
}

.backBtnDiv {
  text-align: center;
}

.formDiv {
  margin-top: 100px;
  margin-bottom: 200px;
}

#bottomInput {
  margin-bottom: 15px;
}

#welcomeUser {
  padding-top: 18px;
}

#cartItemsDiv {
  margin-top: 8px;
  background-color: rgba(91, 113, 117, 0.40);
  border-radius: 5px;
}

.singleItemDiv {
  padding: 15px;
}

.placeOrder {
  padding-top: 20px;
  text-align: center;
}
#homeImgDiv {
  text-align: center;
}

#homeImg {
  width: 75%;
  margin-top: 20px;
  border-radius: 30px;
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
  opacity: 100%;
}


/* .cnt {
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 15vh;
} */
/* .panel {
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 15vh;
}

.panel-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  /* transition: transform 0.75s; */
  /* transform-style: preserve-3d;
  animation: flip 4s linear forwards infinite;
  animation-direction: normal;
}

.panel-front,
.panel-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.panel-front img {
  border: 1px solid white;
  border-radius: 10px;
}

.panel-back {
  /* background-color: teal;
  color: white; */
  /* border: 1px solid white;
  border-radius: 10px;
  transform: rotateY(180deg);
  /* padding: 5px; */
}

/* .panel-front img {
  width: 300px;
  height: 300px;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */ */ */ */
