<%- include('../partials/header.ejs') %>
<main>

<h1>Create Your Account</h1>
  <div class="container">

    <div class="formDiv">
      <form action='/users' method='POST'>
        <div class="form-group">
          <label for="username">Create User Name</label>
          <input type="text" name='name' class="form-control" id="username" placeholder="Create user name">
        </div>
        <div class="form-group" id='bottomInput'>
          <label for="password">Create Password</label>
          <input type="password" name='password' class="form-control" id="password" placeholder="Create Password">
        </div>
        <button type="submit" class="btn btn-outline-light">Sign Up</button>
      </form>
    </div>

  </div>

</main>

<%- include('../partials/footer.ejs') %>
